
.navbar {
    background-color: #ce4343; 
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  
  .navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 50px;
    position: relative; 
  }
  
  
  .navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none; 
    transition: color 0.3s ease;
  }
  
  .navbar-brand:hover {
    color: black; 
  }
  
  
  .navbar-links {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    flex: 1; 
    transition: all 0.3s ease; 
  }
  

  .nav-link {
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px; 
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: black; 
    transform: translateY(-2px); 
  }
  
  
  .logout-btn {
    background-color: #7f1105; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 80px;
  }
  
  .logout-btn:hover {
    background-color: #4e0b03; 
    transform: translateY(-2px); 
  }
  

  
  .hamburger {
    display: none;
    background: none;
    border: none;
    color: rgb(238, 235, 235);
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 40px; 
    top: -1px;
  }
  
  
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links {
      display: none; 
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      background-color: #ce4343; 
      padding: 10px 0; 
      border-radius: 0 0 5px 5px; 
    }
  
    .navbar-links.active {
      display: flex; 
      width: 400px;
      padding: 12px;
      margin-left: 300px;
    }
  
    .nav-link {
      margin: 10px 0;
    }
  
    .hamburger {
      display: block; 
    }
    .logout-btn {
        background-color: #7f1105; 
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-right: -6px;
      }
      .logout-btn:hover {
        background-color: #4e0b03; 
        transform: translateY(-2px); 
      }
  }
  


  @media screen and (max-width: 494px) {
    .navbar-container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links {
      display: none; 
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      background-color: #ce4343; 
      padding: 10px 0; 
      border-radius: 0 0 5px 5px;
    }
  
    .navbar-links.active {
      display: flex; 
      width: 400px;
      padding: 12px;
      margin-left: 300px;
    }
  
    .nav-link {
      margin-right: 188px;   

     }
  
    .hamburger {
      display: block; 
    }
    .logout-btn {
        background-color: #7f1105; 
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-right: 188px;
      }
      .logout-btn:hover {
        background-color: #4e0b03; 
        transform: translateY(-2px); 
      }
  }
  